@page "/counter"
@using AgendaProjeto.Services
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        var teste = new Teste();

        AddressBook request = new()
        {
            UserName = "Thiago",
            Contacts = new()
            {
                new Contact() { Name = "Abner", PhoneNumber = "17 98888-8888"} ,
                new Contact() { Name = "João", PhoneNumber = "17 98888-8888"}

            }
        };

        teste.CreateDataFile(request);
    }
}
