@page "/registrar"
@using AgendaProjeto.Enumerations
@using AgendaProjeto.Models
@using AgendaProjeto.Services
@using Microsoft.FluentUI.AspNetCore.Components
@using static System.Net.Mime.MediaTypeNames
@rendermode InteractiveServer
@inject IAddressBookService AddressBookService
@inject NavigationManager NavigationManager

<PageTitle>Counter</PageTitle>

<h1>Agenda</h1>

<FluentTextField Label="Nome" @bind-Value="contact.Name"></FluentTextField>
<FluentTextField Label="Número" @bind-Value="phone.Number"></FluentTextField>
<FluentButton OnClick="RegisterContact">Registrar</FluentButton>

@code {
    private Contact contact = new();
    private Phone phone = new();
    List<Option<string>> stringOptions = new();

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private void RegisterContact()
    {
        phone.Type = PhoneType.Work;
        AddressBookService.AddContact("user1", new Contact() { Name = contact.Name, Phones = new List<Phone>() { phone } });

        NavigationManager.NavigateTo("/contacts");

    }

}
